:root {
    --color-background: #222222;
    --color-background-shadow: #4a4a4a;
    --color-background-dark: #1a1a1a;
    --color-text: #efefef;
    --color-text-shadow: #b3b3b3;
    --color-icon: #919191;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #1F232A #4a4a4a;
}

html, body {
    background: var(--color-background) !important;
}

/* estilo da pagina */

.im_page_wrap, .tg_head_split {
    max-width: inherit !important;
}
.im_page_wrap, .tg_head_split, .login_head_bg {
    background: var(--color-background) !important;
}
.im_page_wrap {
	border: inherit !important;
}
.login_form_wrap, .md-input {
	background-color: var(--color-background-dark) !important;
}
.login_form_head, .login_phone_head {
	color: var(--color-text) !important;
}
.md-input {
	color: var(--color-text-shadow) !important;
}
.login_form_wrap {
	box-shadow: inherit !important;
}
/* fim estilo da pagina */

/* estilo da lista do menu */

.dropdown.open .tg_head_btn, .tg_head_btn:hover, .dropdown-menu, .modal-content, .md_modal_head, .md_modal_section_splitter {
    background-color: var(--color-background) !important;
}
.tg_head_logo_dropdown .dropdown-menu {
    border: inherit !important;
    border-left-color: inherit !important;
    border-right-color: inherit !important;
}
.tg_head_logo_dropdown .dropdown-menu > li > a:hover {
	background-color: var(--color-background-shadow) !important;
}
.im_dialogs_search_field, .form-control {
    background-color: var(--color-background-dark) !important;
}
.form-control {
	color: var(--color-text) !important;
}
/* fim estilo da lista de menu */

/* estilo da lista de mensagens */

.im_dialogs_search_field {
    border-radius: 18px;
}
.dropdown-menu *, .im_dialog_peer {
	color: var(--color-text) !important;
}
.im_dialogs_col_wrap {
    border-right: 2px solid var(--color-background-dark) !important;
}
.im_page_wrap.clearfix {
	border-top: 2px solid var(--color-background-dark) !important;
}
.im_dialogs_scrollable_wrap .active a.im_dialog {
	background-color: var(--color-background-dark) !important;
	border-radius: 8px;
}
.footer_empty {
	display: none !important;
}
.im_dialogs_scrollable_wrap a.im_dialog_searchpeer, .im_dialogs_scrollable_wrap a.im_dialog_searchpeer:hover, .im_dialogs_scrollable_wrap a.im_dialog_searchpeer_selected, .im_dialogs_scrollable_wrap a.im_dialog:hover, .im_dialogs_scrollable_wrap a.im_dialog_selected{
	background: var(--color-background-shadow) !important;
}
.im_dialog_message, a.im_dialog:hover .im_short_message_text, a.im_dialog_selected .im_short_message_text, .im_message_webpage_description, .im_message_webpage_title > a, .im_message_photo_caption, .im_message_contact_name, .im_message_contact_phone {
	color: var(--color-text-shadow) !important;
}
.im_dialogs_scrollable_wrap a.im_dialog:hover, .im_dialogs_scrollable_wrap a.im_dialog_selected {
	border-radius: 8px;
}
.im_message_webpage_wrap {
	border-radius: 4px;
}
.im_message_article_thumb, .im_message_reply_thumb {
	border-radius: 25% !important;
}
.im_message_webpage_article_photo {
    margin: 5px 5px 5px 5px !important;
}
.im_message_document_thumb_wrap {
	background-color: var(--color-background) !important;
}
/* fim estilo da lista de mensagens */

/* estilo do chat */

.im_message_text, .composer_rich_textarea {
	color: var(--color-text) !important;
}
.im_message_selected .im_message_outer_wrap, .btn-md:hover, .dropdown-menu .divider {
	background-color: var(--color-background-dark) !important;
}
.im_history_select_active .im_message_outer_wrap:hover, .tg_head_peer_dropdown .dropdown-menu > li > a:hover, a.composer_emoji_btn:hover {
	background-color: var(--color-background-shadow) !important;
}
.im_record_bg, .composer_emoji_tooltip {
	background: var(--color-background) !important;
}
.tg_head_peer_dropdown .dropdown-menu {
	max-width: inherit !important;
}
.im_message_unread_split {
    background: var(--color-background-dark) !important;
    color: var(--color-text) !important;
}
.im_edit_panel_border {
	border-bottom: inherit !important;
}
.im_bottom_panel_wrap {
	border-top: 1px solid var(--color-background-dark);
}
/* fim do estilo do chat */

/* estilo de informações de contato ou configurações */

.md_modal_section_link, .md_modal_section_param_name, .tg_radios_wrap *, .md_modal_section_description.changelog_version_changes {
	color: var(--color-text-shadow) !important;
}
.md_modal_section_param_value, .tg_checkbox_label, .md_modal_section_link:hover, .confirm_modal_description * {
	color: var(--color-text) !important;
}
.md_modal_split_action {
	background: var(--color-background) !important;
	box-shadow: initial !important;
}
.md_modal_iconed_section_wrap {
	border-bottom: inherit !important;
}
i.icon-radio, .tg_radio .icon-radio-outer {
	border: inherit !important;
}
.modal-content .md-input {
	background: var(--color-background) !important;
}
.md-input-group {
	border-bottom: 1px solid var(--color-background-dark);
}
.md-input-focused {
    border-bottom: 2px solid #6bace1 !important;
}
.modal-content, .md_modal_head {
    border-radius: 15px !important;
}
/* fim do estilo de informações de contato ou configurações */